body{
    font-family: italic cursive;
    background-image: url('../images/pozadina.jpg');
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .overlay{
    width: 90%;
    margin: auto;
    padding: 2%;
    height: 80%;
    background-color: #a4b494;
    border-radius: 6px;
    overflow: scroll;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    z-index: 3;
}

.navTitle{
    display: none;
}

.arrow{
  display: inline;
  color: white;
}

.basicNav{
    border: 1px solid white;
    border-radius: 6px;
    margin-left: 20px; margin-right: 20px;
}

.navigation-links a{
    color : white;
}

.logo{
    max-width: 100%;
    height: auto;
    margin-right: auto;
}

.menu{
    display: flex;
    gap: 1em;
    font-size: large;
    padding: 20px;
    position: absolute; top:50%; left:50%;
    transform: translate(-50%,-50%);
}

.menu li{
    padding: 5px 14px;
}

.menu li:hover{
    font-weight: bold;
    transition: 0.3s ease;
}

.slike{
    position: relative;
}


.dropdown{
    padding: 1em 0;
    position: absolute;
    display: none;
    top: 20px;
    z-index: 1;
    background-color: #a4b494;
}



.dropdownNav{
    border-bottom: 1px solid white;
}

.dropdown li+li{
  margin-top: 0;
}

.dropdown li{
    padding: 2px;
}

.dropdown li:hover{
    font-weight: bold;
}

.slike:hover .dropdown{
    transition-duration: 0.5s;
    display: block;
}

input[type=checkbox] {
    display: none;
  } 
  

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
  
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 75%;
    margin: auto;
}

.artistPicture{
    max-width: 50%;
    height: auto;
    border-radius: 0;
    margin: 20px;
}

.content{
    max-width: 50%;
    text-align: center;
    color: white;
    margin: 20px;
    
}

.artistTitle{
    font-size: 3em;
}

.astistDescription{
    font-size: 1.2em;
    border-width: 1px 0 0 0;
    border-color: white;
    border-style: solid;
    text-align: justify;
    padding: 10px;
    position: relative; top: -30px;

}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media  screen and (max-width: 1250px) {
    section{
        width: 90%;
    }
    .basicNav{
        height: 20px;
      }
    
      .basicNav{
        white-space: nowrap;
      }

      section{
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
      }
      .content{
        max-width: 80%;
        position: relative; top: -40px;
      }
}

@media screen and (max-width: 1000px){
    .menu{
      right: -20px;
    }
  }

@media screen and (max-width: 768px) {
    body{
        background-color: #a4b494;
        background-image: none;
    }

    .overlay{
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .navigation{
        top:-15px;
        height: fit-content;
        background-color: rgb(64, 71, 58);
        margin-bottom: 10px;
        z-index: 3;
        position: fixed;
    }

    .logo{
        display: none;
    }


    .menu{
        display: none;
        position: absolute;
        top:50%; left:50%;
        transform: translate(-50%,20%); 
        text-align: center; 
        padding: 16px 0;
        width: 100%;
        background-color: rgb(64, 71, 58);
        align-items: center;
        justify-content: center;
    }

    .basicNav{
        border: 0px;
        width: 100%;
        align-items: center;
    }

    .menu li{
      margin: auto;
    }

    .menu li:hover{
        display: inline-block;
        transition: 0.3 ease;
    }
    
    menu li+li{
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }

    .navTitle{
        display: inline;
        color: white;
        font-size: 2.5em;
        padding-top: 10px;
    }

    .hamburger{
        display: block;
        color: white;
        margin-left: auto;
    }  

  .dropdown{
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 71, 58);
    border-radius: 2px;
    position: absolute; left: 50%;
  } 

  .dropdown li{
    border-bottom: 0px;
    padding: 4px;
  }

    section{
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative;
        top: 20%;
    
    }

}


@media screen and (max-width: 450px){

    .hamburger{
      margin-right: 15px;
    }

    .navTitle{
      margin-left: 25%;
      font-size: 2em;
      text-align: center;
    }

}