body{
  background-color:  #a4b494;/*rgb(64,71,58); */

  font-family: italic cursive;
  justify-content: center;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.navTitle{
  display: none;
}

.arrow{
display: inline;
color: white;
}

.basicNav{
  border: 1px solid white;
  border-radius: 6px;
  margin-left: 20px; margin-right: 20px;
}

.navigation-links a{
  color : white;
}

.logo{
  max-width: 100%;
  height: auto;
  margin-right: auto;
  padding: 20px;
}

.menu{
  display: flex;
  gap: 1em;
  font-size: large;
  padding: 20px;
  position: absolute; top:50%; left:50%;
  transform: translate(-50%,-50%);
}

.menu li{
  padding: 5px 14px;
}

.menu li:hover{
  font-weight: bold;
  transition: 0.3s ease;
}

.slike{
  position: relative;
}


.dropdown{
  padding: 1em 0;
  position: absolute;
  display: none;
  top: 20px;
  z-index: 1;
  background-color: #a4b494;
}



.dropdownNav{
  border-bottom: 1px solid white;
}

.dropdown li+li{
margin-top: 0;
}

.dropdown li{
  padding: 2px;
}

.dropdown li:hover{
  font-weight: bold;
}

.slike:hover .dropdown{
  transition-duration: 0.5s;
  display: block;
}

input[type=checkbox] {
  display: none;
} 


.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.container{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: auto;
  border-radius: 8px;
  position: relative;
}

.column {
  flex: 25%;
  max-width: 25%;
}

figure{
  width: 95%;
  border: 2px solid white;
}

figcaption {
  background-color: white;
  color: black;
  text-align: center;
}

.column img {
  width: 100%;
}

@media screen and (max-width: 1250px){
  .basicNav{
    height: 20px;
  }

  .basicNav{
    white-space: nowrap;
  }
}

@media screen and (max-width: 1000px){
  .menu{
    right: -20px;
  }
}




@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .navigation{
    top:-15px;
    height: fit-content;
    background-color: rgb(64, 71, 58);
    margin-bottom: 10px;
    z-index: 3;
    position: fixed;
    right: 0%;
}

  .logo{
      display: none;
  }


  .menu{
      display: none;
      position: absolute;
      top:50%; left:50%;
      transform: translate(-50%,20%); 
      text-align: center; 
      padding: 16px 0;
      width: 100%;
      background-color: rgb(64, 71, 58);
      align-items: center;
      justify-content: center;
  }

  .basicNav{
      border: 0px;
      width: 100%;
      align-items: center;
  }

  .menu li{
    margin: auto;
  }

  .menu li:hover{
      display: inline-block;
      transition: 0.3 ease;
  }

  menu li+li{
      margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu{
      display: block;
  }

  .navTitle{
      display: inline;
      color: white;
      font-size: 2.5em;
      padding-top: 10px;
  }

  .hamburger{
      display: block;
      color: white;
      margin-left: auto;
  }  

  .dropdown{
  width: fit-content;
  align-items: center;
  justify-content: center;
  background-color: rgb(64, 71, 58);
  border-radius: 2px;
  position: absolute; left: 50%;
  } 

  .dropdown li{
  border-bottom: 0px;
  padding: 4px;
  }

  .container{
    margin-top: 30%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


@media screen and (max-width: 450px){

  .hamburger{
    margin-right: 15px;
  }

  .navTitle{
    margin-left: 25%;
    font-size: 2em;
    text-align: center;
  }

}